html,
body {
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    top: 0
}

body::-webkit-scrollbar {
    background: transparent;
    width: 0px;
}

@media (prefers-color-scheme: no-preference) {
    :root {
        --color-bg: #ffffff;
        --color-fg: #333333;
        --color-cr: #808080;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --color-bg: #ffffff;
        --color-fg: #333333;
        --color-cr: #808080;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: #333333;
        --color-fg: #ffffff;
        --color-cr: #cccccc;
    }
}

@media (prefers-dark-interface) {
    :root {
        --color-bg: #333333;
        --color-fg: #ffffff;
        --color-cr: #cccccc;
    }
}

body {
    scrollbar-width: none;
    -ms-overflow-style: none;
    font-family: 'Fira Code', monospace;
    color: #333333;
    background-color: #ffffff;
    color: var(--color-fg);
    background-color: var(--color-bg);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    caret-color: var(--color-cr);
}

.isFade {
    animation: fadeInStartup ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-transition: background-color 300ms linear, color 1s linear;
    -moz-transition: background-color 300ms linear, color 1s linear;
    -o-transition: background-color 300ms linear, color 1s linear;
    -ms-transition: background-color 300ms linear, color 1s linear;
    transition: background-color 300ms linear, color 1s linear;
}

@keyframes fadeInStartup {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}