.containheader {
    height: 0;
    display: none;
}

a {
    text-decoration: none;
    color: #333333;
    color: var(--color-fg);
}

.site-header {
    border-bottom: 1px solid #cccccc;
    padding: .5em 1em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.site-identity h1 {
    color: #333333;
    color: var(--color-fg);
    font-size: 1.5em;
    margin: .6em 0;
    display: inline-block;
}


.site-navigation ul,
.site-navigation li {
    margin: 0;
    padding: 0;
}

.site-navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
}